<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>俱乐部列表</title>
<style type="text/css">
body .demo-class .layui-layer-title{
	padding: 0 80px 0 20px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #FFFCFC;
	overflow: hidden;
	background-color: #3ABEDF;
	border-radius: 2px 2px 0 0;
}
body .layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn {
	padding-top: 5px;
	background-color: silver;
	background-color: silver;
}

</style>
</head>
<body>
<div class="list">
	<div class="list_menu">
		<button onclick="addClub()" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">新增</button>
	</div>
		<div class="list_form">
			<table class="list_table">
				<colgroup>
					<col width="150">
					<col width="150">
					<col width="200">
					<col>
				</colgroup>
				<thead>
					<tr>
						<th>俱乐部名称</th>
						<th>俱乐部负责人</th>
						<th>俱乐部类型</th>
						<th>创建时间</th>
						<th>活动次数</th>
						<th>会员数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="club,var : ${clubList}">
						<td th:text="${club.clubName}"></td>
						<td th:text="${club.resUser.userName}"></td>
						<td th:text="${club.types.typeName}"></td>
						<td th:text="${club.createTime}"></td>
						<td th:text="${club.activityTimes}"></td>
						<td th:text="${club.numberOfMembers}"></td>
						<td>
							<a href="javascript:void(0)" class="aBtn" th:onclick="|updateClub('${club.clubId}')|">修改</a>
							<span th:if="${club.numberOfMembers}==null or ${club.numberOfMembers}==0">
								<a href="javascript:void(0)" th:onclick="|deleteClub('${club.clubId}')|" class="aBtn">删除</a>
							</span>
							<span th:if="${club.numberOfMembers}>0">
								<a href="javascript:void(0)" class="aBtn a_black" >删除</a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<script type="text/javascript"   th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript"   th:src="@{/layui-master/dist/layui.js}"></script>
<script type="text/javascript"   th:src="@{/js/jquery-1.6.2.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<script th:inline="javascript">
	function addClub(){
		layer.open({
	        type: 2
	        ,skin: 'demo-class'
	        ,title: '新增'
	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
	        ,id: 'layerDemo'+2 //防止重复弹出
	        ,content: '/club/showAdd'
	        ,shade: 0 //不显示遮罩
	        ,moveOut:true
	        ,area: ['600px','500px']
			,closeBtn: 1
			,btnAlign: 'c'
			,btn: ['取消','保存']
			,yes: function(index, layero){
				$(location).prop('href', '/club/clubList');
				layer.close(index);
			}
			,btn2: function(index, layero){
				$(layero).find("iframe").contents().find('form[name="clubForm"]').submit();
				return false;
			}
			,cancel: function(index, layero){ 
				$(location).prop('href', '/club/clubList');
			}  
	      });
	}
	
	function updateClub(clubId){
		layer.open({
	        type: 2
	        ,skin: 'demo-class'
	        ,title: '修改'
	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
	        ,id: 'layerDemo'+2 //防止重复弹出
	        ,content: '/club/doShowUpdate?clubId='+clubId
	        ,shade: 0 //不显示遮罩
	        ,area: ['600px','500px']
			,closeBtn: 1
			,btnAlign: 'c'
			,btn: ['取消','保存']
			,yes: function(index, layero){
				$(location).prop('href', '/club/clubList');
				layer.close(index);
			}
			,btn2: function(index, layero){
				$(layero).find("iframe").contents().find('form[name="clubForm"]').submit();
				return false;
			}
			,cancel: function(index, layero){ 
				$(location).prop('href', '/club/clubList');
			}  
	      });
	}
	function deleteClub(clubId){
		layer.open({
			type: 1
	        ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
	        ,id: 'delete'+2 //防止重复弹出
	        ,content: '<div style="padding: 20px 100px;">'+ '确认删除' +'</div>'
	        ,btn: '确认'
	        ,btnAlign: 'c' //按钮居中
	        ,shade: 0 //不显示遮罩
	        ,yes: function(index, layero){
	        	$(location).prop('href', '/club/doDeleteClub?clubId='+clubId);
	            layer.close(index);
	        }
	      });
	}
	
</script>
</body>
</html>